# dependencies
/node_modules

# sveltekit
/.svelte-kit
/build
/vite-env.d.ts

# System files
.DS_Store

# production
/out

# local env files
.env
!/public/.well-known

# deploy
/docker
src/lib/auth.ts
